extends layout

block content
    h1= title
    br
    i
        h2 Retrieved from: "#{source}", all rights reserved to the author and the newspaper
    br
    p #{paragraph}
    br
    img(src=imgUrl,width='500px')
    br
